<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartRefri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartRefri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SmartRefri.Properties.Settings.MyConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SmartRefriDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SmartRefri.Properties.Settings>
            <setting name="ItemImagesPath" serializeAs="String">
                <value>itemImages/</value>
            </setting>
        </SmartRefri.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SmartRefri.Properties.Settings>
            <setting name="refrigeratorInternalTemperature" serializeAs="String">
                <value>12</value>
            </setting>
        </SmartRefri.Properties.Settings>
    </applicationSettings>
</configuration>